<h1>Burger Land!</h1>

<img src="http://photos-ak.sparkpeople.com/nw/7/4/l746731963.jpg" class="my_images" alt="Profile pic">



<div class="row">
  <div class="col-lg-6">
    <h2>Burgers to eat!</h2>

      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">Devour!</button>
              </form>
          </li>

    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
         
        </form>

      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

<div class="col-lg-6">
  <h2>Add a Burger</h2>
  <form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="bur">Burger Name:</label>
      <input type="text" id="bur" name="burger_name">
    </div>

    <div class="form-group">
      <label for="dev"> </label><br>
      <input type="radio" name="devoured" value="1" > Devoured!<br>
      <input type="radio" name="devoured" value="0"> To Eat!
    </div>
  </div>

  <button type="submit">Add burger</button>
</form>